.react-grid-item,
.react-grid-layout {
  border: 2px solid rgb(54, 95, 228);
}
.main-view-layouts-grid {
  width: 100%;
  min-width: 900px;
}
.layout-configrtion-view {
  width: 100%;
}
.elements-grid-layout {
  padding: 10;
}

.main-view-title {
  border-bottom: 2px solid rgb(54, 95, 228);
}

/* .element-to-select {
  border: 2px solid rgb(54, 95, 228);
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  height: 150px;
  margin-top: 20px;
  padding-top: 65px;
} */

ul.element-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
